<% if @sent %>
  <p class="alert-message success">Thank you for contacting us. We'll be in touch shortly.</p>
<% else %>

  <% unless @errors.nil? or @errors.empty? %>
    <div class="alert-message error">
      Please correct the error<%= @errors.count == 1 ? '' : 's' %> in the form below and resubmit.
    </div>
  <% end %>

  <form action="/contact-form" method="POST">
    <fieldset>
      <% [:name, :email, :company, :phone].each do |a| %>
        <%
          type = 'text'
          type = 'email' if a == :email
          type = 'tel' if a == :phone
        %>
        <div class="field clearfix <%= ' error' unless @errors[a].nil? %>">
          <label for="<%= a %>"><%= a.capitalize %></label>
          <div class="input"><% #for twitter bootstrap %>
            <input type="<%= type %>" name="<%= a %>" id="<%= a %>" value="<%= @params[a] %>"
             <%= @errors[a].nil? ? '' : 'class="error"' %>
             />
            <% unless @errors[a].nil? %>
              <span class="help-inline"><%= @errors[a] %></span>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="field clearfix <%= ' error' unless @errors[:message].nil? %>">
        <label for="message">Briefly describe your project</label>
        <div class="input"><% #for twitter bootstrap %>

          <textarea name="message" id="message" rows=6><%= @params[:message] %></textarea>
          <% unless @errors[:message].nil? %>
            <span class="help-inline"><%= @errors[:message] %></span>
          <% end %>
        </div>
      </div>

      <div class="center">
        <input type="submit" name="" value="Send" />
      </div>
    </fieldset>
  </form>
<% end %>
